<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Мое резюме</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2>Мое резюме</h2>
    <form sec:authorize="isAuthenticated()" class="form-inline m-2 my-2 my-lg-0">
        <a th:href="'/editor/' + ${user.id}" class="btn btn-outline-primary">Редактировать</a>
    </form>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
        </form>
        <div sec:authorize="isAnonymous()" class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" th:href="@{/login}">Логин</a>
        </div>
    </div>
</nav>

<div class="container">
    <br>
    <div class="blog-post">
        <h3 class="blog-post-title">Добрый день! Меня зовут</h3>
        <h3 th:text="${user.realName}">Владимир</h3>
        <br>
        <div th:utext="${user.fullText}">Изучал Java</div>
        <br>
        <h4>Технический стек</h4>
        <ul th:each="levelHigh : ${allLevelHigh}">
            <li th:text="${levelHigh.name}">Java</li>
        </ul>
        <br>
        <p>Небольшой опыт</p>
        <ul th:each="levelLow : ${allLevelLow}">
            <li th:text="${levelLow.name}">Java</li>
        </ul>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>